body { 
	font: 13px Helvetica, Arial;
}
#msgrow {
    height: 500px;
    max-height: 500px;
}
#rowhead {
	height: 45px;
	background-color: #D90429;
	color: #EDF2F4;
	text-align: center;
}
#inputrow {
    height: 50px;
}
h3 {
	margin: auto;
    padding: 10px;
}

h4 {
	padding: 5px;
	color: #EDF2F4;
}

h5 {
    padding: 6px 6px 6px 0px;
	color: #EDF2F4;
    text-align: right;
}

#usercontainer {
	border-top: 1px solid #8D99AE;
    height: 100%;
	background-color: #2B2D42;
}

#botleftbox {
	border-top: 1px solid #8D99AE;
    height: 100%;
	background-color: #2B2D42;
}

form {
	padding: 3px;
	bottom: 0;
}
form input {
	border: 1px solid #8D99AE;
    border-radius: 3px;
    margin-right: 4px;
	padding: 10px;
    width: 81%;
}

form button {
    width: 5%;
    min-width: 65px;
}

#messages, #userson {
	list-style-type: none;
}

#userson li {
	padding: 5px 10px;
    border-radius: 3px;
}

#messages li {
	padding: 5px 10px;
    border-radius: 3px;
}

#messages li:nth-child(odd) {
	background: #eee;
}

#msgcontainer {
    height: 500px;
	overflow-y: scroll;
}
#userson {
	height: 500px;
	overflow-y: auto;
}